doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title React Universal
    for href in css
      link(rel='stylesheet', href='/build/#{href}')
  body
    div(id='mount')!= markup
    for src in js
      script(src='/build/#{src}')
    script(id='__INITIAL_STATE__', type='application/json')!= state
